-var data = {heading:'ОФОРМЛЕНИЕ ЗАКАЗА', image:'/assets/images/item.jpg', title:'Аббай', article:'Артикул: P00504TU' , price:'7.215руб.', quantity: 1 , total:'7.215руб.', href:'item.html'}
-var i = 0

.items-wrapper 
	P.heading #{data.heading}
	.cards-row.clearfix
		while i < 3
			+b.card.clearfix
				+e.image-container
					+e.IMG(src= data.image).image-container--image
				+e.title.item-title Название <br><span class="card__sub"><a class="card__sub--title" href=#{data.href}>#{data.title}</a><br>#{data.article}
				
				+e.title.item-price  Стоимость <br><span class="card__sub">#{data.price}</span>

				+e.title.item-quantity  Количество  <br><span class="card__sub">
					+e.INPUT(type="number" min="0" step="1" value="1" ).sub--quantity.item-quantity
				</span>
				+e.title.item-total  Сумма <br><span class="card__sub">#{data.price} </span>
				+e.remove &#10005;
			-i++
		+b.total.clearfix
			+e.price Всего #{data.price}
		+CreateButton('', 'Заказать', 'order action-btn')