include /mixins/main_mixins
-var item = {image:'assets/images/item.jpg', title:'Аббай', article: 'Артикул: P00504TU', price: '7.215руб.', old_price: '7.800руб.', about: 'Несмотря на многообразие тканей, появившихся сравнительно недавно, традиционно востребованные разновидности держат свои позиции, и кануть в Лету не собираются. Насчитывая несколько веков применения, они и сейчас актуальны, благодаря достойным характеристикам. Одна из таких тканей – перкаль, ее свойства до сих пор впечатляют. Перкаль – на удивление прочная ткань. В своё время из него производили обшивку для первых самолётов, паруса и парашюты, а теперь изделия из него относят к классу «премиум».',short_about:['Перкаль набивной 220см 100% хлопок 125гр/м.кв','Рулон 60 м','Цена варьируется от размера партии. Уточняйте у менеджеров.'], delivery: ['Доставка транспортной компанией.', 'Партнерам из удаленных регионов рекомендуем воспользоваться услугами доставки заказа силами транспортной компании. С ценами  на доставку вы можете ознакомиться здесь.'] }
-var select = ['1','2','3','4','5','6','7','8','9','10']

.container-fluid.item
	.row
		.item-details.clearfix
			.gallery-wrapper
				+CreateGallery('item-gallery',item.image, 3)
				+b.short-about
					each el, i in item.short_about
						+e.P.paragraph #{el}
			+b.description
				+e.H2.title #{item.title}
				+e.P.article #{item.article}
				+e.P.price <span class="old-price">#{item.old_price}</span>&nbsp;&nbsp;<span class="price">#{item.price}</span>
				+e.form-control
					+e.LABEL(for="#feedback").form-control--feedback-label Ваши пожелания (необязательно)
					+e.TEXTAREA(name="feedback" id="feedback" placeholder="До 500 символов").form-control--feedback
					+e.form-control--chars_remaining#chars-remaining
				+e.INPUT(type="number" min="1" step="1" value="1").quantity.item-quantity
				+CreateActionButton('Добавить в корзину','action-btn checkout', 'submit')
				+e.item-description
					+e.H4.item-description--title О ТКАНИ
					+e.P.item-description--content #{item.about}
				+e.delivery
					each el, i in item.delivery
						+e.P.delivery--content #{el} 
					+CreateButton('delivery.html', 'Калькулятор','action-btn')
	+b.checkout-sidebar
		+e.title Корзина <span class="checkout-sidebar__title--toggle"> &#8250; </span>
		+e.item.clearfix
			+e.item--image
				img(src=item.image)
			+e.item--title Атташе
			+e.item--quantity <span class="quantity">Количество:</span> 1
			+e.item--price <span class="disabled">#{item.old_price}</span> #{item.price}
			+e.item--close <span>&times;</span>
		+e.item.clearfix
			+e.item--image
				img(src=item.image)
			+e.item--title Атташе
			+e.item--quantity <span class="quantity">Количество:</span> 1
			+e.item--price <span class="disabled">#{item.old_price}</span> #{item.price}
			+e.item--close <span>&times;</span>
		+e.item.clearfix
			+e.item--image
				img(src=item.image)
			+e.item--title Атташе
			+e.item--quantity <span class="quantity">Количество:</span> 1
			+e.item--price <span class="disabled">#{item.old_price}</span> #{item.price}
			+e.item--close <span>&times;</span>
		+e.item.clearfix
			+e.item--image
				img(src=item.image)
			+e.item--title Атташе
			+e.item--quantity <span class="quantity">Количество:</span> 1
			+e.item--price <span class="disabled">#{item.old_price}</span> #{item.price}
			+e.item--close <span>&times;</span>
				
		+e.total
			+e.total--title
				p Сумма
			+e.total--cost
				p 14.430руб.
		+CreateButton('basket.html','Перейти в корзину', 'action-btn' )




	

