-var nav = [{title:'Вход/ Регистрация',href:'#login',elClass:'lg-hidden',subclass:'popup-with-zoom-anim'},{title:' Корзина пуста', href:'basket.html',elClass:'icon-basket', goodsCount: 0},{title:'Главная', href:'index.html'},{title:'Комбинат',href:'about.html'},{title:'Ткани',href:'cloths.html'},{title:'Акции',href:'discounts.html'},{title:'Новости/ Презентации',href:'blog.html'},{title:'Доставка и оплата',href:'delivery.html'},{title:'Контакты',href:'contacts.html'},{title: 'Партнерская программа', href:'partnership.html'}]

include ../login/login


+b.navbar.container-fluid
	.row.clearfix
		+b.A.login.popup-with-zoom-anim(href="#login") Вход / Регистрация
		+b.logo
			+e.A(href="index.html").href
				img(src="assets/images/logo.png")
		+b.H1.heading Комбинат ОСНОВА <span class="heading-sub">- российский производитель высококачественных тканей</span>
		+b.button-wrapper
			+e.A.button#responsive-menu-button(class="" role="button")
				+e.SPAN.button--horizontal-line
				+e.SPAN.button--horizontal-line
				+e.SPAN.button--horizontal-line
	.row
		+b.UL.nav.side-right
			each el, i in nav
				+e.LI.element(class=el.elClass)
					-if(el.goodsCount >= 0) {
						+e.A(href=el.href).element--href 
							+e.SPAN.element--href--text #{el.title}
							+e.SPAN.element--href--goods-count #{el.goodsCount}
					-} else {
						+e.A.element--href(href=el.href class=el.subclass) 
							+e.SPAN.element--href--text #{el.title}
					-}